{# templates/ticket_admin/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Éditer le Ticket{% endblock %}

{% block body %}
    <h1>Éditer le ticket</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_ticket_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
