{# templates/ticket_user/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Éditer le Ticket{% endblock %}

{% block body %}
    <h1>Éditer le ticket (Membre du personnel)</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </div>
    {{ form_end(form) }}
   
    <a href="{{ path('app_ticket_user') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
   
{% endblock %}
